@import "tailwindcss";

@layer base {
  :root {
    --background: #504d4d;   
    --foreground: #ffffff;   
    --accent: rgb(0, 0, 0); 
    --font-inter: 'Inter', sans-serif;
    --labelBackground: linear-gradient(135deg, #271408, #381e10);
    --musicIconBackground: rgba(82, 82, 82, 0.4);
    --musicPopupBackground: rgba(82, 82, 82, 0.6);
    --musicPopupButtonBackground: rgb(0, 0, 0, 0.6);
    --musicPopupButtonBackgroundHover: rgb(0, 0, 0, 0.8);
    --buttonHoverColor: rgb(58, 34, 6); 
    --iconBorder: #ffffff;
  }
}

@layer utilities {
  /* Font family */
  .font-inter {
    font-family: var(--font-inter);
  }

  /* Colors */
  .bg-background {
    background-color: var(--background);
  }

  .bg-musicIcon {
    background-color: var(--musicIconBackground);
  }

  .bg-musicPopupButon {
    background-color: var(--musicPopupButtonBackground);
  }

  .bg-musicPopup {
    background-color: var(--musicPopupBackground);
  }

  .bg-labelBackground {
    background-image: var(--labelBackground);
  }

  .icon-border {
    border-color: var(--iconBorder);
  }

  .text-foreground {
    color: var(--foreground);
  }

  .border-accent {
    border-color: rgba(254, 254, 91, 0.3);
  }

  .text-accent {
    color: var(--accent);
  }

  .hover\:text-accent:hover {
    color: var(--accent); 
  }

  /* Shadow Effects */
  .shadow-glass-inset {
    box-shadow: inset 0 15px 5px -10px rgba(91, 129, 254, 0.05);
  }

  .shadow-glass-sm {
    box-shadow: 5px 5px 25px 0px rgba(254, 254, 91, 0.3);
  }

  /* Hover effects */
  .hover\:shadow-glass-sm:hover {
    box-shadow: 5px 5px 25px 0px rgba(17, 17, 17, 0.7);
  }

  .hover\:popup-button-hover-effect:hover {
    background-color: var(--musicPopupButtonBackgroundHover);
    box-shadow: 5px 5px 25px 0px rgba(17, 17, 17, 0.7); 
  }

  .menu:hover {
    animation-play-state: paused;
  }

  .menu:hover .menu-icon {
    animation-play-state: paused;
  }
  
  /* Spin animation */
  .animate-spin {
    animation: spin 40s linear infinite;
  }

  .animate-spin-reverse {
    animation: spin-reverse 40s linear infinite;
  }

  /* Hover effect for buttons inside the menu */
  .group:hover {
    color: var(--accent);
    box-shadow: 0 0 25px 10px var(--accent);
  }

  .soundGroup:hover {
    color: var(--accent);
    box-shadow: 0 0 10px 2px var(--accent);
  }

  .buttonHover:hover {
    color: var(--buttonHoverColor);
    box-shadow: 0 0 25px 10px var(--buttonHoverColor);
  }

  .font-witcher {
    font-family: 'WitcherFont';
  }

  @font-face {
    font-family: 'WitcherFont';
    src: url('/fonts/witcherFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* Keyframes */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes spin-reverse {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  @keyframes particle-move {
    0% {
      transform: translate(0, 0) rotate(0deg);
      opacity: 0.7;
    }
    80% {
      opacity: 0.4; 
    }
    100% {
      transform: translate(var(--translate-x), 200vh) rotate(var(--rotate)); 
      opacity: 0; 
    }
  }

  .particle {
    position: absolute;
    animation-name: particle-move;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 30px;
    height: auto;
    pointer-events: none;
  }

}





